html,
body {
  height: 100%;
}

html::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  background-color: $gray;
  color: #414042;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex: 1;
}

.cont {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  padding: 0 20px;
}

.logo {
  transition: .3s;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

button {
  &:focus {
    outline: none;
  }

  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

svg {
  display: block;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}