.app__content {
  width: 100%;
  display: flex;
  transition: left 1s;
  position: relative;
  left: 0;
  background:  var(--white);
}

.app__content.moved {
  left: calc(-100% + 320px);
}
.app__content.hide-panel {
  left: -100%;
}