.sidebar_show-button {
  position: absolute;
  top: 39px;
  background: $gray;
  z-index: 1;
  width: 22px;
  height: 22px;
}

.sidebar.hided {
  left: -320px;
}

#filter-date {
  background-color: var(--white);
}

.sidebar {
  width: $width;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  padding-top: 30px;
  padding-bottom: calc(var(--footer-height) + 20px);
  transition: 0.5s;
  position: fixed;
  background-color: $gray;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100%;
  overflow: auto;

  &__title {
    font-size: 2em;
    font-weight: 700;
    color: var(--gray-dark);
    text-shadow: 0px 1px 1px var(--dark);
  }

  &_hide-button {
    position: absolute;
    right: 30px;
    top: 39px;
    background: $gray;
    z-index: 1;
    width: 22px;
    height: 22px;
  }

  &__link {
    display: flex;
    align-items: center;
    transition: .2s;

    &-text {
      margin-right: 12px;
    }

    &-icon {
      width: 27px;
      height: 27px;
    }
  }

  &__find-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    margin-top: 35px;
  }

  &__finded-wrap.active {
    display: block;
    visibility: visible;
    height: initial;
  }

  &__finded-wrap {
    height: 0;
    display: none;
    visibility: hidden;
    display: flex;
    align-items: center;
  }

  &__problem-wrap {
    opacity: 1;
    pointer-events: initial;
  }

  &__problem-wrap.disabled {
    opacity: .4;
    pointer-events: none;
  }

  &__status-wrap,
  &__type-wrap,
  &__date-wrap,
  &__problem-wrap {
    width: 90%;
  }

  .find__form {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .find__form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      outline: none;
      box-shadow: initial;
    }
  }

  .find__form-button {
    &:focus {
      outline: 0;
      box-shadow: initial;
    }

    border-top-left-radius: 0;
    border-bottom-left-radius:0;
  }

  &__buttons-wrap {
    margin-top: 25px;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;

    .btn-apply {
      width: 100%;
      margin-right: 10px;
      display: flex;
      align-items: baseline;

      .btn-apply-badge.active {
        visibility: visible;
      }

      .btn-apply-badge {
        visibility: hidden;
        margin-left: 3px;
      }

    }

    .btn-reset {
      width: 100%;
      display: flex;
      align-items: baseline;
    }
  }

}