.table-wrapper {
  width: calc(100vw - 320px);
  padding-right: 1%;
  flex-shrink: 0;
  background-color: var(--white);
  transition: 0.5s;
  height: calc(100vh - var(--footer-height));
  overflow: auto;
}

.table-wrapper.expanded {
  width: 100vw;
}