.page {
  display:  flex;
  flex-grow: 1;
  min-height: 100%;
  align-items: stretch;
}

.page__right {
  flex-grow: 1;
  width: calc(100vw - 320px);
  background-color:grey;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.page__right-table {
  width: 100%;
  padding-right: 1%;
  background-color: var(--white);
}