.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  
  padding: 40px;
  
  background-color: var(--light);
  border-radius: 5px;
  display: none;

  &--visible {
    display: block;
  }
}

.popup__content {
  display: flex;
}

.popup__photo {
  flex-shrink: 0;
  width: 40vw;
}