//colors
$blue: #043A6B;

// fillter
$background: #e8e8e8;
$select-color: #414042;
$mid-gray: #d7dde4;
$select-background: #ffffff;
$select-width: 320px;
$select-height: 60px;
$done-option-color: #008000;
$inwork-option-color: #ff0; 
$received-option-color: #ff0000; 